<h3> Dashboard </h3>
<div class='all-container'>
    <% @grouped_jobs.each do |job| %>
    <div class='single-container'>
       <p><%= job.last %> jobs</p>
      <H3>Level of Interest: <%= job.first %></H3>
    </div>
  <% end %>
</div>