<h3>All Categories</h3>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.title %>:
      <%= link_to "Edit", edit_category_path(category) %>
      <%= link_to "Delete", categories_path(@category), method: :delete %>
    </li>
  <% end %>
</ul>


