<h3>All Categories</h3>

<div class='all-container'>

  <% @categories.each do |category| %>
    <div class='single-container'>
        <H3>Category: <%= link_to category.title.titleize, category_path(category) %></H3>
        <p><%= link_to "Edit", edit_category_path(category) %></p>
        <p><%= link_to "Delete", categories_path(@category), method: :delete %></p>
    </div>
  <% end %>
</div>


