<h3>All Jobs for <strong><%= @category.title %></strong></h3>

<div class='all-container'>
    <% @category.jobs.each do |job| %>
  <div class='single-container'>
      <%= job.title %>
  </div>
    <% end %>
</div>